@using System.Threading.Tasks
@using Ascon.Pilot.Core
@model Ascon.Pilot.WebClient.ViewModels.UserPositionViewModel
@{
    ViewBag.Title = Model.Path.Last();
}

<div class="row">
    <div class="col-md-3" id="sidePanel">
        @await Component.InvokeAsync("SidePanel", Model.SidePanel.ObjectId)
    </div>
    <div class="col-md-9">
        <div>
            @Html.Partial("_Breadcrumbs", Model.Path)
        </div>
        <div id="filesPanel">
            @await Component.InvokeAsync("FilesPanel", Model.SidePanel.ObjectId)
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var getFilesUrl = '@Html.Raw(Url.Action("GetObject", "Home"))';
        var getChildsUrl = '@Html.Raw(Url.Action("GetNodeChilds", "Home"))';
        var getSidePanelUrl = '@Html.Raw(Url.Action("SidePanel", "Home"))';
        var ROOT_ID = '@DObject.RootId';
        
        var treeControl;
        var treeData;

        $(document).ready(function() {
            treeControl = createTreeView(treeData);
        });

        function pushHistory(id) {
            history.pushState(null, '', '/Home/Index/' + id);
        }

        function createTreeView(data) {
            var tree = $('#tree');
            tree.treeview({
                data: data,
                showIcon: true,
                onNodeSelected: function(event, node) {
                    window.recieveFiles(node);
                },
                onNodeExpanded: function(event, node) {
                    window.getChilds(node);
                }
            });
            return tree.treeview(true);;
        }

        function recieveSidePanel(id) {
            $.ajax(getSidePanelUrl, {
                data: {
                    id: id
                },
                success: function(data) {
                    $('#sidePanel').html(data);
                },
                error: function(data) {

                }
            });
        }

        function getChilds(node) {
            var id = node['id'];
            $.ajax(getChildsUrl, {
                data: {
                    id: id
                },
                success: function(data) {
                    var nodeToAppendChilds = $.grep(treeData, function(e) { return e.id === id; });
                    nodeToAppendChilds[0]['nodes'] = data;
                    treeControl.remove();
                    treeControl = createTreeView(treeData);
                    treeControl.revealNode(node, {silent: true});
                }
            });
        }

        function recieveFiles(node) {
            var folderId = node['id'];

            /*var parentId;
            var parent = treeControl.getParent(node);
            if (typeof parent === "undefined")
                parentId = ROOT_ID;
            else
                parentId = parent['id'];*/
            
            $.ajax(getFilesUrl, {
                data: {
                    id: folderId
                },
                success: function (data) {
                    $('#filesPanel').html(data);
                    pushHistory(folderId);
                },
                error: function(data) {
                }
            });
        }
    </script>
}