@model IEnumerable<Ascon.Pilot.Core.MType>
@{
    ViewBag.Title = "Типы файлов";
}

<table class="table table-hover"> 
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Name</th>
        <th>Kind</th>
        <th>HasFiles</th>
        <th>IsDeleted</th>
        <th>Icon</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var type in Model)
    {
        <tr>
            <td>@type.Id</td>
            <td>@type.Title</td>
            <td>@type.Name</td>
            <td>@type.Kind</td>
            <td>@type.HasFiles</td>
            <td>@type.IsDeleted</td>
            <td>
                <i class="glyphicon glyphicon-@(ApplicationConst.TypesGlyphiconDictionary.ContainsKey(type.Name) ? ApplicationConst.TypesGlyphiconDictionary[type.Name] : ApplicationConst.DefaultGlyphicon)"></i>
            </td>
        </tr>
    }
    </tbody>
</table>