@model IEnumerable<Ascon.Pilot.Core.MType>
@{
    ViewBag.Title = "Типы файлов";
}

<table class="table table-hover"> 
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Name</th>
        <th>Kind</th>
        <th>HasFiles</th>
        <th>IsDeleted</th>
        <th>Has Children</th>
        <th>Icon</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var type in Model.OrderBy(x => x.Id))
    {
        <tr>
            <td>@type.Id</td>
            <td>@type.Title</td>
            <td>@type.Name</td>
            <td>@type.Kind</td>
            <td>@type.HasFiles</td>
            <td>@type.IsDeleted</td>
            <td>@(type.Children?.Any() == true)</td>
            <td>
                <img src="@Url.Action("GetTypeIcon", new {id = type.Id})" alt="Иконка" width="32" height="32"/>
            </td>
        </tr>
    }
    </tbody>
</table>