@model Ascon.Pilot.WebClient.ViewModels.FileViewModel
@{
    var name = Model.Name;
}

<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 file-card" onclick="processCardClick(this)"
     data-id="@Model.Id" data-name="@Html.Raw(name)" data-size="@Model.Size" data-ext="@Model.Extension" data-typeid="@Model.ObjectTypeId">
    <div class="file-card-icon">
        @{
            var href = Url.Action("GetTypeIcon", "Home", new { id = Model.ObjectTypeId });
            if (Model.IsThumbnailAvailable)
            {
                href = Url.Action("Thumbnail", "Files", new { id = Model.Id, size = Model.Size, extension = Model.Extension });
            }
        }
        <div style="position: relative;">
            <img class="img-responsive center-block" src="@href" width="70" height="70" alt="@Model.Name" />
            <input name="objectsIds" type="checkbox" value="@Model.ObjectId" />
        </div>
    </div>
    <div class="file-card-name">
        <a onclick="processFileCardClick(this)" role="button">
            @name
        </a>
    </div>
    <div class="file-card-buttons">
        <a class="btn btn-default btn-xs" href="@Url.Action("Download", "Files", new { id = Model.Id, size = Model.Size, name = $"{name}{Model.Extension}"})" title="Скачать файл">
            <i class="glyphicon glyphicon-download-alt"></i>
        </a>
    </div>
</div>



