@model Ascon.Pilot.WebClient.ViewModels.FileViewModel
@{
    var name = Model.Name;
}

<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 file-card" data-id="@Model.Id" data-name="@Model.Name" onclick="processCardClick(this)">
    <div class="file-card-icon">
        <div style="position: relative;">
            <img class="img-responsive center-block" src="@Url.Action("GetTypeIcon", "Home", new { id = Model.ObjectTypeId })" width="70" height="70" alt="@Model.Name" />
        </div>
    </div>
    <div class="file-card-name">
        <a href="@Url.Action("Index", "Files", new {id = Model.Id})">@name</a>
    </div>
</div>