@using System.Globalization
@using System.Threading.Tasks
@model Ascon.Pilot.WebClient.ViewModels.FileViewModel
@{
    var name = Model.Name;
    var fileDownloadRouteValues = new { id = Model.Id, size = Model.Size, name };
    string href;
    if (Model.IsThumbnailAvailable)
    {
        href = Url.Action("Thumbnail", "Files", new { id = Model.Id, size = Model.Size, extension = Model.Extension });
    }
    else
    {
        href = Url.Action("GetTypeIcon", "Home", new { id = Model.ObjectTypeId });
    }
    var changedDateStr = Model.LastModifiedDate.ToString("g", new CultureInfo("ru-RU"));
}

<div class="file-card @(Model.IsThumbnailAvailable ? "with-thumbnail" : "")">
    <div class="file-card-icon">
        <div style="position: relative">
            <img src="@href" alt="@name"/>
            <input name="objectsIds" type="checkbox" value="@Model.ObjectId"/>
        </div>
    </div>
    <div class="file-card-name">
        <a onclick="processFileCardClick(this)" href="#"
           data-id="@Model.Id" data-name="@Html.Raw(name)" data-size="@Model.Size" data-ext="@Model.Extension" data-typeid="@Model.ObjectTypeId"
           data-sizestr="@Model.SizeString" data-changedate="@changedDateStr">
            @name
        </a>
    </div>
    <div class="file-card-info">
        <span class="pull-right text-right hidden-xs hidden-sm">
            Изменен: @changedDateStr<br/>
            Размер: @Model.SizeString
        </span>
    </div>
    <div class="file-card-buttons">
        <div class="btn-group">
            <a title="Скачать файл" href="@Url.Action("Download", "Files", fileDownloadRouteValues)" class="btn btn-default">
                <span class="glyphicon glyphicon-download-alt"></span>
            </a>
        </div>
    </div>
</div>