@using System.Threading.Tasks
@model Ascon.Pilot.WebClient.ViewModels.FileViewModel
@{
    var name = Model.Name;
}

<div class="file-card" onclick="processCardClick(this)" data-id="@Model.Id" data-name="@Model.Name">
    <div class="file-card-icon">
        <img src="@Url.Action("GetTypeIcon", "Home", new {id = Model.ObjectTypeId})" width="50" height="50" alt="@Model.ObjectTypeName" />
    </div>
    <div class="file-card-name" style="width: 100%">
        <a href="@Url.Action("Index", new {id = Model.Id})">@name</a>
    </div>
    <div class="file-card-info">
        <span title="Количество элементов в папке">@Model.ChildrenCount</span>
    </div>
</div>