@using System.Globalization
@using System.Threading.Tasks
@model Ascon.Pilot.WebClient.ViewModels.FileViewModel
@{
    var name = Model.Name;
    var fileDownloadRouteValues = new { id = Model.Id, size = Model.Size, name };
    string href;
    if (Model.IsThumbnailAvailable)
    {
        href = Url.Action("Thumbnail", "Files", fileDownloadRouteValues);
    }
    else
    {
        href = Url.Action("GetTypeIcon", "Home", new { id = Model.ObjectTypeId });
    }
}

<div class="file-card">
    <div class="file-card-icon">
        <div style="position: relative">
            <img src="@href" alt="@name"/>
            <input name="objectsIds" type="checkbox" value="@Model.ObjectId"/>
        </div>
    </div>
    <div class="file-card-name">
        <a onclick="processFileCardClick(this)" data-id="@Model.Id" data-name="@Html.Raw(name)" data-size="@Model.Size" data-ext="@Model.Extension" data-typeid="@Model.ObjectTypeId" href="#">
            @name
        </a>
    </div>
    <div class="file-card-info">
        <span class="pull-right text-right hidden-xs hidden-sm">
            Изменен: @Model.LastModifiedDate.ToString("g", new CultureInfo("ru-RU"))<br/>
            Размер: @Model.SizeString
        </span>
    </div>
    <div class="file-card-buttons">
        <div class="btn-group">
            @*@if (Model.Extension == ".pdf")
            {
                <a title="Просмотр" href="@Url.Action("Preview", "Files", fileDownloadRouteValues)" target="_blank" class="btn btn-default">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            }*@
            <a title="Скачать файл" href="@Url.Action("Download", "Files", fileDownloadRouteValues)" class="btn btn-default">
                <span class="glyphicon glyphicon-download-alt"></span>
            </a>
        </div>
    </div>
</div>