@using System.Threading.Tasks
@model IEnumerable<Ascon.Pilot.WebClient.ViewModels.FileViewModel>

<div>
    @if (Model == null || !Model.Any())
    {
        <p>файлы в папке отсутствуют</p>
    }
    else
    {
        foreach (var fileModel in Model)
        {
            <div class="col-sm-2 file-card" data-id="@fileModel.Id" onclick="processFileCardClick(this)">
                <div class="file-card-icon">
                    <img src="@Url.Content("~/images/file.png")" width="100" height="100" alt="@fileModel.Name"/>
                </div>
                <div class="file-card-name">
                    <a title="Скачать файл" href="@Url.Action("Download", "Files", new {id = fileModel.Id, size = fileModel.Size})" class="text-center">
                        Скачать <span class="glyphicon glyphicon-download-alt"></span>
                    </a>
                    <p>@fileModel.Name</p>
                </div>
            </div>
        }
    }
</div>