@using Ascon.Pilot.Core
@using Microsoft.AspNet.Mvc.Rendering
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - @ApplicationConst.AppName</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/lib/bootstrap-treeview/src/css/bootstrap-treeview.css" />
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
        <link rel="stylesheet" href="~/lib/bootstrap-treeview/dist/bootstrap-treeview.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>
    @*<link type="text/css" rel="stylesheet" href="@Url.Content("~/css/basic.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/dropzone.css")" />*@
    @RenderSection("styles", false)
</head>
<body>
@Html.Partial("_Header")
<div id="menu" class="menu-slide-out">
    <ul>
        <li>
            <a href="@Url.Action("Index", "Files", new {})">
                <i class="glyphicon glyphicon-file"></i>&nbsp;Документы
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Home")">
                <i class="glyphicon glyphicon-tasks"></i>&nbsp;Задания
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Home")">
                <i class="glyphicon glyphicon-list-alt"></i>&nbsp;Отчеты
            </a>
        </li>
    </ul>
</div>
<div class="body-content" onclick="hideMenu()">
    <br/>
    @RenderBody()
</div>

<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap-treeview/src/js/bootstrap-treeview.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>
    <script src="~/lib/bootstrap-treeview/dist/bootstrap-treeview.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js">
    </script>
    @*<script src="~/js/site.min.js" asp-append-version="true"></script>*@
</environment>

@*<script type="text/javascript" src="~/js/dropzone.js"></script>*@
@RenderSection("scripts", false)
</body>
</html>
